@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    Paul Mendoza built Diablo 3 Downtime tracker in order to keep track of when the servers would actually be online. This is just a project for built mainly in a weekend. If you have any questions, please email at support@diablo3downtime.com. 
</p>
<h2>Frequently Asked Questions</h2>
<h3>Why doesn't this site look right in my browser?</h3>
Answer: This site uses HTML5 to render charts and other features. As such not everything will look right in older browsers. Please use a modern browser like Internet Explorer 9, Chrome or a recent version of Firefox. 

<h3>How often does your site check the uptime?</h3>
Answer: Every minute.

<h3>All of the times are in GMT? What is GMT?</h3>
Answer: It is Greenwich Mean Time. You can find more about it at <a href="http://wwp.greenwichmeantime.com/what-is-gmt/index.htm">this site.</a>

<h3>How did you do X?</h3>
Answer: <a href="http://www.codinghorror.com/blog/2012/04/learn-to-read-the-source-luke.html">Read the source Luke.</a> I have posted all of the source code on <a href="https://github.com/PaulDMendoza/DiabloIIIUptimeTracker">GitHub</a>. If you want me to add something or you have contributions to the site that you'd like to make feel free to fork the code and make the change and I'll integrate it into the site. (Is "fork" the right word? I hope so. I just started using Git.)
